
	body{font-family: 'Josefin Sans', sans-serif;}

.container {
    height: 2080px;
    width: 1080px;
    padding-right: 15px;
    padding-left: 15px;
 
    margin: auto; 
    background-color:rgb(255, 225, 52);
    border-radius:10px;	
}
h1{
    margin-top: 10px,10px,10px,10px;
}
.nav
		{border-radius:10px;
			background-color:#f59a39;
			width:100%;
			}
			
		.nav ul li{ 
				list-style-type:none;
				display:inline-block;
				width:150px;
				
			}
		.nav a{
            text-align-last: center;
		border-radius:20px;
			display:block;
			text-decoration: none;
			color:white; 
			text-align:center;
			padding:10px 0;
		}
		.nav a:hover{ background-color:white;
		color:black;
		}

        .blog_container{
            border-radius:20px;
            background-color:white;
            color:#1a0d00;
            width:90%;
            float:right;
            height:auto;
            }
            
            .blog_container p{
                    Padding:1em;
                    float:left;
                    margin:auto;
            }
    #name{
        background-color: rgb(248, 233, 145,0.2);
        width: 73%;
        height: 20px;
        margin-top: 30px;
        font-size: 20px; 
        padding: 5px;
      
    }

    #button{
        background-color: rgb(247, 218, 164,0.5);
        width: 200px;
        margin-left: 50px;
                border-radius: 2px;
    }
   
    #ta{
       font-size: 20px;
        width: 95%;
        height: 150px;
        margin : 20px;
        background-color: rgb(248, 233, 145,0.2);
    } b{ margin-left: 10px; }
    #blogg p{
        background-image: ;
        border: solid 0.5px;
        text-align: center;
        border-color: brown;
        float:right;
        width: 90%;
        height: auto;
        margin: 20px;
        padding: 10px;
            background-color: rgb(248, 233, 145,0.2);
        }
       
           


        /* .myClass{ */
            /* background-color: rgba(247, 245, 160, 0.534); */
            /* border: rgba(255, 0, 0, 0.068) solid 1px; */
        /* } */
        
        .myClass1{
            background-color:seagreen;
            border:blue solid 2px;
        }